  /* .user-id {
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
    cursor: pointer;
    background-image: url("./images/profile.png"); 
    background-size: cover;
  } */

  .user-id:hover .dropdown-arrow {
    top: 35px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #333;
    border-top: 10px solid transparent;
  }

  .dropdown-menu {
    right: 1px;
    list-style-type: none;
    display: none;
    background: white;
    box-shadow: 0px 0px 7px -2px;
  }
  
  .hover-id:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
  }
  
  .dropdown-menu ul li {
    list-style-type: none;
    display: block;
    width: 200px;
    line-height: 2.5em;
    color: black;
  }
  
  .dropdown-menu ul li:last-child {
    border-top: 1px solid rgba(51, 51, 51, 0.396);
  }
  
  .dropdown-menu ul li:hover {
    background: rgba(51, 51, 51, 0.194);
    color: black;
  }
